.black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 100px !important;
}

.nav-wrapper {
  background-color: white;
  color: black;
}

.nav-wrapper .brand-logo,
.nav-wrapper a {
  color: black;
}

.nav-center {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.pt-50p {
  padding-top: 50%;
}